<?php
define('ROOT_PATH', dirname(__file__));
class Config
{
    const EXT = "mp3";
    const MIME_TYPE = "audio/mpeg";
    const ROOT_PATH = ROOT_PATH;

    // Directory of public files relative to vhost root.
    // On N3X15's server, for instance, uses a layout like /host/hostname.tld/htdocs/index.htm
    // We can therefore put stuff that doesn't need to be exposed in /host/hostname.tld, and
    // just the public files can go in htdocs.
    // If you have to put the public files with the private files, set this to '.'
    const WEBROOT_PATH = "/htdocs";
    // Relative path to cache files.
    const CACHE_PATH = "/cache";
    // Relative path to pool of MP3s
    const POOL_PATH = '/files';

    // The root path of index.php, minus /index.php.
    // For instance, if you had to get to it by the URL https://sub.domain.tld/index.php:
    const ROOT_URL = "http://sub.domain.tld";
    // A secret password provided to the server's media code.
    // This can be anything you like, but must be set on the SS13 server as well.
    // You can also set this to '' to not require any keys at all.
    const API_KEY = "SECRET DO NOT SHARE";

    public static function getWebRoot()
    {
        return self::WEB_ROOT;
    }

    public static function getPoolDir()
    {
        return self::ROOT_PATH . self::POOL_PATH;
    }

    public static function getCacheDir()
    {
        return self::ROOT_PATH . self::CACHE_PATH;
    }

}
